* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    background: url('/assets/images/login_bg.jpg') no-repeat center;
    background-size: cover;
}

.logo {
    position: absolute;
    top: 30px;
    left: 30px;
}

.login {
    position: absolute;
    width: 310px;
    height: 310px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
}

#title_box {
    height: 60px;
    background: url('/assets/images/login_title.png') no-repeat center;
}

#form_reg,
#form_login {
    padding: 0 30px;
}

#link-rt,
#login-rt {
    float: right;
}

.reg-box {
    display: none;
}

.layui-form-item {
    position: relative;
}

.layui-icon {
    position: absolute;
    left: 10px;
    top: 10px;
}

.layui-form-item .layui-input {
    padding-left: 32px;
}